#collections {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    scroll-margin-top: 75px;
}

.carousel {
    max-width: 50%;
    margin-left: 20px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s ease-in;
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.card>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.col-info {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
}

.col-info-container {
    height: 70%;
    max-width: 80%;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
}

.col-info-header {
    font-size: 40px;
}

.col-info-p {
    font-family: 'Inter', sans-serif;
    line-height: 48px;
    font-size: 24px;
    font-weight: 100;
}

.money {
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}

.col-bttn-wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #dbd0d07c;
    border-left: none;
    border-right: none;
}

.col-bttn {
    border-radius: 5px;
    background-color: black;
    width: 150px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-active-bttn {
    color: black;
    background: rgba(255, 255, 255, 0.47);
    border: 4px solid #FFFFFF;
}

.col-buy {
    color: black;
    margin-top: 75px;
    font-family: 'Stylish', sans-serif;
    font-size: 36px;
    letter-spacing: 3px;
    width: 60%;
    border-radius: 2px;
    background-color: var(--bttn-bg-color);
}

@media screen and (max-width:900px) {
    #collections {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    .carousel {
        max-width: 90%;
        width: 100%;
        height: 500px;
        margin-left: 0;
    }
    .col-info {
        width: 100%;
        justify-content: center;
    }
    .col-info-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 90%;
        align-items: center;
        margin-left: 0;
    }
    .col-buy {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:600px) {
    .carousel {
        height: 400px;
    }
    .col-bttn {
        width: 100px;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
    }
    .col-buy {
        width: 100%;
        margin-bottom: 30px;
    }
}