@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Itim&family=Srisakdi&family=Stylish&display=swap');
:root {
    --bg-color: #E0D5D0;
    --bttn-bg-color: #B24343;
    --bttn-color: #ffffffa4;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    max-width: 1440px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
}